html.themeTransition,
html.themeTransition *,
html.themeTransition *:before,
html.themeTransition *:after {
  transition: all 500ms;
  transition-delay: 0;
}

body{
    background-color: var(--background);
}

