$mainViolet: #572EE5;
$fondoMenuLight: rgba(87,46,229,0.90);
$mainGreen: #50E3C2;
$monse: "Montserrat", "sans-serif";
$roboto: "Roboto", "sans-serif";

//colores pasados a variables para modo nocturno

html {
    --background: #FFF;
    --trending_background: #F3F5F8;
    --main_text_color: #572EE5;
    --small_text_color: #000;
    --drawer_background: #572EE5;
    --body_border: #572EE5;
    --fancy_border: #572EE5;
    --btn_hover: white;
    --mainGreen: #50E3C2;
    --bg-max-view: rgba(255,255,255,0.90);
    --max-view-buttons: rgba(87,46,229,0.70);
    --deselect-icons-color: rgba(87,46,229,0.70);
}

html[data-theme='dark'] {
    --background: #37383C;
    --trending_background: #222326;
    --main_text_color: #FFF;
    --small_text_color: #FFF;
    --drawer_background: #000;
    --body_border: #000;
    --fancy_border: #FFF;
    --btn_hover: black;
    --bg-max-view: rgba(55,56,60,0.90);
    --max-view-buttons: rgba(255,255,255,0.70);
}
