@import "variables";
@import "mixins";
@media screen and (min-width: 1024px){
    header{
        justify-content: space-between;
        padding: 0;
        .closebtn{
            display: none;
        }
        .menubtn{
            display: none;
        }
        nav{
            display: flex;
            width: 45%;
            max-width: 30rem;
            flex-flow: row wrap;
            ul {
                display: flex;
                flex-flow: row wrap;
                align-self: flex-end;
                li{
                    display: flex;
                    margin: 1rem;
                    text-transform: uppercase;
                    align-self: center; //centrar en altura los botones del nav
                    &:hover:not(:last-child){
                        border-bottom: 1px solid var(--mainGreen);
                    }
                    &:active:not(:last-child){
                        border: none;
                        color: #FF9CAFC3;
                    }
                    a{
                        @include word-bundle(13px, var(--main_text_color), bold, auto); //aprendiendo a usar mixins, cual quier cosa
                        letter-spacing: 0;
                        text-align: center;
                    }
                   .btnCrear{
                    display: inline-block;
                    cursor: pointer;
                    width: 54px;
                    height: 54px;
                    border-radius: 50px;
                    background: none;
                    border: 1px solid var(--main_text_color);
                    background-color: transparent;
                        .fa-plus{
                            color: var(--main_text_color);
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    main{
        .intro{
            h1{
                font-size: 2.2rem;
                max-width: 600px;
            }
            img{
                width: 40%;
                margin-top: 1rem;
                max-width: 550px;
            }
            .searchbar{
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                width: 100%;
                max-width: 550px;
                #contenedorBusquedas{
                    display:flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                    .search{
                        width: 80%;
                        text-align: left;
                    }
                }
                #sugestionCtn{
                    display: flex;
                    flex-flow: column wrap;
                    width:100%;
                    #divDeSugerencias{
                        display: flex;
                        flex-flow: row wrap;
                        img{
                            margin-left: 0.8rem;
                        }
                    }
                    p{
                        display: flex;
                        text-align: left;
                        justify-content: start;
                        margin: .5rem;
                        color: #9CAFC3;
                    }

                }
            }
        }
        .trends{
            h3{
                margin-top: 4.5rem;
                font-size: 24px;
                margin-bottom: .5rem;
            }
            p{
                font-size: 20px;
                width: 80%;
                margin-bottom: 6rem;
                justify-content: center;
                br {
                    display: none;
                }
            }
        }
        #searchTitleResult{
        
            #ctnOfGif{ //seteo estilos al titulo de la busqueda
                display: flex;
                flex-flow: row wrap;
                width: 100%;
                .gifArticle{
                    background-color: lightgrey;
                    position: relative;
                    width: 25%;
                    &:hover {
                        .filter, .gifBtns, .gifInfo{
                            display: initial;
                            position: absolute;
                        }
                    }
                    .gifInfo{
                        h4{
                            color: #FFFFFF;
                            font-size: 1rem;                      
                        }
                        span{
                            color: #FFFFFF;
                            font-size: .8rem;
                        }
                    }
                    .gifBtns{
                        display: none;
                        right: 1rem;
                        top: 1rem;
                        z-index: 1000;
                        button{
                            cursor: pointer;
                            border: 1px solid #CED7E1; //ver este color
                            border-radius: 6px;
                            background: #FFFFFF;
                            opacity: 0.7;
                            height: 32px;
                            width: 32px;
                            .fa-heart, .fa-download, .fa-expand-alt{
                                color: var(--deselect-icons-color);
                                font-size: 1.3rem;
                            }
                        }
                    }
                    .filter{
                        background-color: #572EE5;
                        opacity: 0.7;
                        display: none;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }
                    .gifLoadedCtn{
                        .gifLoaded{
                            width: 100%;
                            height: 20rem;
                        }
                    }
                }
            }  
        }
        .trending{
            h2{
                font-size: 34px;
            }
            p{
                width: 100%;
            }
            .carrouselWraper{
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                margin-top: 2.5rem;
                .buttonSlider{
                    display: initial;
                    height: 40px;
                    width: 40px;
                    border: 1px solid var(--primary-color);
                    background: var(--bg-carousel);
                    transform: translate(0, 100px);
                    .fa-chevron-left, .fa-chevron-right{
                        color: var(--primary-color);
                        font-size: 1.25rem;
                        &:hover{
                            color: var(--icon-hover-color);
                        }
                    }
                    &:hover{
                        background-color: var(--primary-color);
                    }
                }
                .carousel{
                    width: 90%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .recordGif{
            width: 100%;
            padding-right: 10rem;;
            .articleRecord{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                .imgCamera{
                    display: flex;
                    align-content: center;
                    /* .camara{
                       
                    } */
                    .luzCamara{                       
                        animation: blinking .2s infinite;                       
                    }
                }
                .videoSquare{
                    width: 43rem;
                    border: 1px solid var(--fancy_border);
                    overflow: hidden;
                    position: relative;
                    @include behave-horizontal;
                    #gif-capture{
                        width: 75%;
                        height: 75%;
                    }
                    .corner-right, .corner-left {
                        height: 25px;
                        width: 27px;
                        display: inline-block;
                        position: absolute;
                      }
                      .corner-right {
                        border-right: 1px solid var(--mainGreen);
                        right: 1.5rem;
                      }
                      .corner-left {
                        border-left: 1px solid var(--mainGreen);
                        left: 1.5rem;
                      }
                      .corner-top {
                        border-top: 1px solid var(--mainGreen);
                        top: 1.5rem;
                      }
                      .corner-bottom {
                        border-bottom: 1px solid var(--mainGreen);
                        bottom: 1.5rem;
                      }
                    h4{
                        font-family: 'Montserrat', sans-serif;
                        font-size: bold;
                        font-size: 25px;
                        color: var(--main_text_color);
                        text-align: center;
                        line-height: 35px;
                    }
                    p{
                        font-family: 'Roboto', sans-serif;
                        font-size: 1rem;
                        color: var(--small_text_color);
                        text-align: center;
                        line-height: 29px
                    }
                }
                .anotherDiv{
                    @include behave-horizontal;
                    width: 100%;
                    
                    .numbersDiv{
                        display: flex;
                        justify-content: center;
                        margin-left: 24rem;
                        width: 20%;
                        .number{
                            margin-left: 1.5rem;
                            text-align: center;
                            width: 2rem;
                            height: 2rem;
                            line-height: 2rem;
                            border-radius: 50%;
                            background: none;
                            border: 1px solid var(--fancy_border);
                            background-color: transparent;
                        }
                        .isCurrent{
                            background-color: var(--main_text_color);
                            color: var(--trending_background);
                        }
                        .special-hover{
                            &:hover{
                                border-bottom: 3px solid $mainGreen;
                            }
                        }     
                    }
                    .counter{
                        transform: translate(145px);
                        color: var(--main_text_color);
                        letter-spacing: 0;
                        text-align: center;
                        font-family: $monse;
                        font-weight: 700;
                    }
                    .filmIcon{
                        transform: translate(280px);
                    }
                }
                #start-btn{
                    cursor: pointer;
                    outline: none;
                    border: 1px solid var(--fancy_border);
                    border-radius: 25px;
                    background: none;
                    text-transform: uppercase;
                    font-family: 'Montserrat', sans-serif;
                    color: var(--main_text_color);
                    font-size: 13px;
                    font-weight: bold;
                    height: 3rem;
                    width: 7.9rem;
                    margin-bottom: 2rem;
                    margin-top: -2rem;
                    &:hover{
                        color: var(--icon-hover-color);
                        background-color: var(--main_text_color);
                    }
                }
                
            }
        }
    }
    footer{
        flex-flow: row wrap;
        padding-bottom: 3rem;
        justify-content: space-between;
        p{
            margin: 0 3rem 0 0;
        }
        h3{
            margin: 0 0 0 5rem;
        }
        .share{
            margin: 0 0 0 -25rem;
            justify-content: space-evenly;
            
        }
    }
}

