@import "variables";
@import "mixins";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $monse;
    text-align: center;
}

a{
    color: initial;
    text-decoration: none;
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-top: solid $mainViolet .3rem;
    width: 100%;
    position: fixed;
    background: white;
    z-index: 10;
    top: 0;
    padding-bottom: 1rem;
    img{
        margin: 1rem 0 0 1.8rem;
    }
    input[type="checkbox"]{
        display: none;
        margin: 0 1rem 0 0;
        &:checked~nav{
            display:flex;
            flex-flow: column wrap;
            width: 100%;
            background: $fondoMenuLight;
            top: 5.375rem;
            position: fixed;
            height: 100vh;
            ul{
                padding-top: 1rem;
                li{
                    padding: .5rem;
                    text-align: center;
                    font-weight: bold;
                    font-size: 15px;
                    &::after{
                        content: "";
                        display: block;
                        margin: 0 auto;
                        width: 15%;
                        border-bottom: solid 1px white;
                        margin-top: 1rem;
                        opacity: 50%;
                    }
                    &:last-child{
                        display: none;
                    }
                    button{
                        display: none;
                    }
                    a{
                        color: white;
                    }
                }
            }
        }
        &:checked~label{
            .closebtn{
                display: initial;
            }
            .menubtn{
                display: none;
            }
        }
    }

    label{
        display: flex;
        margin-right: 1.8rem;
            .closebtn{
                display: none;
            }
        }
    nav{
        display: none;
        ul{
            list-style: none;
        }
    }
}

main{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-top: 6rem;
    .intro{
        display:flex;
        flex-flow: column wrap;
        align-content: center;
        text-align: center;
        width: 100%;
        h1{
            font-size: 1.5rem;
            color: $mainViolet;
            line-height: 33px;
            width: 73%;
            align-self: center;
            span{
                color: $mainGreen;
            }
        }
        img{
            width: 73%;
            align-self: center;
        }
        .searchbar{
            border: 1px solid $mainViolet;
            border-radius: 30px;
            padding: 1rem 2rem 1rem 2rem;
            width: 90%;
            align-self: center;
            .search{
                border: none;
                font-family: $roboto;
                font-size: 1rem;
                text-align: left;
                width: 80%;
            }
            #contenedorBusquedas{
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: stretch;
                align-items: center;
                #lupaDeBusqueda{
                    color: $mainViolet;
                    font-size: 1.5rem;
                }
                #cerrarBusqueda{
                    color: $mainViolet;
                    font-size: 1.5rem;
                }
            }
            
            #sugestionCtn{
                display: flex;
                flex-flow: column wrap;
                #divDeSugerencias{
                    display: flex;
                    flex-flow: row wrap;
                    &:first-child{
                        border-top:1px solid #9cafc3c2;
                        margin-top: 1rem;
                        padding-top: .5rem;
                    }
                }
                p{
                    text-align: left;
                    margin: .5rem 0;
                }
            }
        }   
    }
    .trends{
        h3{
            font-size: 1rem;
            color: $mainViolet;
            line-height: 25px;
            margin-top: 2rem; 
        }
        p{
            margin: 0 auto;
            display: flex;
            font-weight: 500;
            font-size: 0.9rem;
            color: $mainViolet;
            line-height: 25px;
            width: 60%;
            margin-bottom: 2.9rem;
            text-align: center;
            text-transform: capitalize;
        }
    }
    .trending{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        background-color: $colorTrending;
        padding-bottom: 5rem;
        padding-top: 2.8rem;
        h2{
            font-weight: 700;
            font-size: 1.25rem;
            color: $mainViolet;
            text-align: center;
            line-height: 30px;
        }
        p{
            font-family: $roboto;
            font-size: 1rem;
            color: #000000;
            text-align: center;
            line-height: 23px;
            width: 85%;
            margin: 0.5rem 0 2rem 0;
        }
        .carrouselWraper{
            margin-top: 2rem;
            .buttonSlider{
                display: none;
            }
            .carousel{
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                img{
                    width: 70%;
                    height: 15rem;
                    display: flex;
                    align-self: center;
                }
            }
        } 
    }
}

footer{
    padding: 3rem 0rem 1rem 0rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-bottom: .3rem solid $mainViolet;
    h3{
        font-family: $roboto;
        font-weight: 200;
        font-size: 15px;
        color: #000000;
        letter-spacing: 0;
    }
    .share{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 20%;
        margin: 1.5rem 0 3rem 0;
        i{
            color: #CDD6E0;
            &:hover{
                color: $mainViolet;
            }
        }
    }
    p{
        font-family: $roboto;
        font-size: 14px;
        color: #000000;
        letter-spacing: 0;
        line-height: 20px;
        margin-bottom: 1.2rem;
    }
}