html {
  --background: #FFF;
  --trending_background: #F3F5F8;
  --main_text_color: #572EE5;
  --small_text_color: #000;
  --drawer_background: #572EE5;
  --body_border: #572EE5;
  --fancy_border: #572EE5;
  --btn_hover: white;
  --mainGreen: #50E3C2; }

html[data-theme='dark'] {
  --background: #37383C;
  --trending_background: #222326;
  --main_text_color: #FFF;
  --small_text_color: #FFF;
  --drawer_background: #000;
  --body_border: #000;
  --fancy_border: #FFF;
  --btn_hover: black; }

@media screen and (min-width: 1024px) {
  header {
    justify-content: space-between;
    padding: 0; }
    header .closebtn {
      display: none; }
    header .menubtn {
      display: none; }
    header nav {
      display: flex;
      width: 45%;
      max-width: 30rem;
      flex-flow: row wrap; }
      header nav ul {
        display: flex;
        flex-flow: row wrap;
        align-self: flex-end; }
        header nav ul li {
          display: flex;
          margin: 1rem;
          text-transform: uppercase;
          align-self: center; }
          header nav ul li:hover:not(:last-child) {
            border-bottom: 1px solid var(--mainGreen); }
          header nav ul li:active:not(:last-child) {
            border: none;
            color: #FF9CAFC3; }
          header nav ul li a {
            font-size: 13px;
            color: var(--main_text_color);
            font-weight: bold;
            line-height: auto;
            letter-spacing: 0;
            text-align: center; }
          header nav ul li .btnCrear {
            display: inline-block;
            cursor: pointer;
            width: 54px;
            height: 54px;
            border-radius: 50px;
            background: none;
            border: 1px solid var(--main_text_color);
            background-color: transparent; }
            header nav ul li .btnCrear .fa-plus {
              color: var(--main_text_color);
              font-size: 1rem; }

  main .intro h1 {
    font-size: 2.2rem;
    max-width: 600px; }
  main .intro img {
    width: 40%;
    margin-top: 1rem;
    max-width: 550px; }
  main .intro .searchbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    max-width: 550px; }
    main .intro .searchbar #contenedorBusquedas {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%; }
      main .intro .searchbar #contenedorBusquedas .search {
        width: 80%;
        text-align: left; }
    main .intro .searchbar #sugestionCtn {
      display: flex;
      flex-flow: column wrap;
      width: 100%; }
      main .intro .searchbar #sugestionCtn #divDeSugerencias {
        display: flex;
        flex-flow: row wrap; }
        main .intro .searchbar #sugestionCtn #divDeSugerencias img {
          margin-left: 0.8rem; }
      main .intro .searchbar #sugestionCtn p {
        display: flex;
        text-align: left;
        justify-content: start;
        margin: .5rem;
        color: #9CAFC3; }
  main .trends h3 {
    margin-top: 4.5rem;
    font-size: 24px;
    margin-bottom: .5rem; }
  main .trends p {
    font-size: 20px;
    width: 80%;
    margin-bottom: 6rem;
    justify-content: center; }
    main .trends p br {
      display: none; }
  main #searchTitleResult #ctnOfGif {
    display: flex;
    flex-flow: row wrap;
    width: 100%; }
    main #searchTitleResult #ctnOfGif .gifArticle {
      background-color: lightgrey;
      position: relative;
      width: 25%; }
      main #searchTitleResult #ctnOfGif .gifArticle:hover .filter, main #searchTitleResult #ctnOfGif .gifArticle:hover .gifBtns, main #searchTitleResult #ctnOfGif .gifArticle:hover .gifInfo {
        display: initial;
        position: absolute; }
      main #searchTitleResult #ctnOfGif .gifArticle .gifInfo h4 {
        color: #FFFFFF;
        font-size: 1rem; }
      main #searchTitleResult #ctnOfGif .gifArticle .gifInfo span {
        color: #FFFFFF;
        font-size: .8rem; }
      main #searchTitleResult #ctnOfGif .gifArticle .gifBtns {
        display: none;
        right: 1rem;
        top: 1rem;
        z-index: 1000; }
        main #searchTitleResult #ctnOfGif .gifArticle .gifBtns button {
          cursor: pointer;
          border: 1px solid #CED7E1;
          border-radius: 6px;
          background: #FFFFFF;
          opacity: 0.7;
          height: 32px;
          width: 32px; }
          main #searchTitleResult #ctnOfGif .gifArticle .gifBtns button .fa-heart, main #searchTitleResult #ctnOfGif .gifArticle .gifBtns button .fa-download, main #searchTitleResult #ctnOfGif .gifArticle .gifBtns button .fa-expand-alt {
            color: var(--deselect-icons-color);
            font-size: 1.3rem; }
      main #searchTitleResult #ctnOfGif .gifArticle .filter {
        background-color: #572EE5;
        opacity: 0.7;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
      main #searchTitleResult #ctnOfGif .gifArticle .gifLoadedCtn .gifLoaded {
        width: 100%;
        height: 20rem; }
  main .trending h2 {
    font-size: 34px; }
  main .trending p {
    width: 100%; }
  main .trending .carrouselWraper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 2.5rem; }
    main .trending .carrouselWraper .buttonSlider {
      display: initial;
      height: 40px;
      width: 40px;
      border: 1px solid var(--primary-color);
      background: var(--bg-carousel);
      transform: translate(0, 100px); }
      main .trending .carrouselWraper .buttonSlider .fa-chevron-left, main .trending .carrouselWraper .buttonSlider .fa-chevron-right {
        color: var(--primary-color);
        font-size: 1.25rem; }
        main .trending .carrouselWraper .buttonSlider .fa-chevron-left:hover, main .trending .carrouselWraper .buttonSlider .fa-chevron-right:hover {
          color: var(--icon-hover-color); }
      main .trending .carrouselWraper .buttonSlider:hover {
        background-color: var(--primary-color); }
    main .trending .carrouselWraper .carousel {
      width: 90%; }
      main .trending .carrouselWraper .carousel img {
        width: 100%; }
  main .recordGif {
    width: 100%;
    padding-right: 10rem; }
    main .recordGif .articleRecord {
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      main .recordGif .articleRecord .imgCamera {
        display: flex;
        align-content: center;
        /* .camara{
           
        } */ }
        main .recordGif .articleRecord .imgCamera .luzCamara {
          animation: blinking .2s infinite; }
      main .recordGif .articleRecord .videoSquare {
        width: 43rem;
        border: 1px solid var(--fancy_border);
        overflow: hidden;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center; }
        main .recordGif .articleRecord .videoSquare #gif-capture {
          width: 75%;
          height: 75%; }
        main .recordGif .articleRecord .videoSquare .corner-right, main .recordGif .articleRecord .videoSquare .corner-left {
          height: 25px;
          width: 27px;
          display: inline-block;
          position: absolute; }
        main .recordGif .articleRecord .videoSquare .corner-right {
          border-right: 1px solid var(--mainGreen);
          right: 1.5rem; }
        main .recordGif .articleRecord .videoSquare .corner-left {
          border-left: 1px solid var(--mainGreen);
          left: 1.5rem; }
        main .recordGif .articleRecord .videoSquare .corner-top {
          border-top: 1px solid var(--mainGreen);
          top: 1.5rem; }
        main .recordGif .articleRecord .videoSquare .corner-bottom {
          border-bottom: 1px solid var(--mainGreen);
          bottom: 1.5rem; }
        main .recordGif .articleRecord .videoSquare h4 {
          font-family: 'Montserrat', sans-serif;
          font-size: bold;
          font-size: 25px;
          color: var(--main_text_color);
          text-align: center;
          line-height: 35px; }
        main .recordGif .articleRecord .videoSquare p {
          font-family: 'Roboto', sans-serif;
          font-size: 1rem;
          color: var(--small_text_color);
          text-align: center;
          line-height: 29px; }
      main .recordGif .articleRecord .anotherDiv {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%; }
        main .recordGif .articleRecord .anotherDiv .numbersDiv {
          display: flex;
          justify-content: center;
          margin-left: 24rem;
          width: 20%; }
          main .recordGif .articleRecord .anotherDiv .numbersDiv .number {
            margin-left: 1.5rem;
            text-align: center;
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            border-radius: 50%;
            background: none;
            border: 1px solid var(--fancy_border);
            background-color: transparent; }
          main .recordGif .articleRecord .anotherDiv .numbersDiv .isCurrent {
            background-color: var(--main_text_color);
            color: var(--trending_background); }
          main .recordGif .articleRecord .anotherDiv .numbersDiv .special-hover:hover {
            border-bottom: 3px solid #50E3C2; }
        main .recordGif .articleRecord .anotherDiv .counter {
          transform: translate(145px);
          color: var(--main_text_color);
          letter-spacing: 0;
          text-align: center;
          font-family: "Montserrat", "sans-serif";
          font-weight: 700; }
        main .recordGif .articleRecord .anotherDiv .filmIcon {
          transform: translate(280px); }
      main .recordGif .articleRecord #start-btn {
        cursor: pointer;
        outline: none;
        border: 1px solid var(--fancy_border);
        border-radius: 25px;
        background: none;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        color: var(--main_text_color);
        font-size: 13px;
        font-weight: bold;
        height: 3rem;
        width: 7.9rem;
        margin-bottom: 2rem;
        margin-top: -2rem; }
        main .recordGif .articleRecord #start-btn:hover {
          color: var(--icon-hover-color);
          background-color: var(--main_text_color); }

  footer {
    flex-flow: row wrap;
    padding-bottom: 3rem;
    justify-content: space-between; }
    footer p {
      margin: 0 3rem 0 0; }
    footer h3 {
      margin: 0 0 0 5rem; }
    footer .share {
      margin: 0 0 0 -25rem;
      justify-content: space-evenly; } }

/*# sourceMappingURL=style-desktop.css.map */
