html {
  --background: #FFF;
  --trending_background: #F3F5F8;
  --main_text_color: #572EE5;
  --small_text_color: #000;
  --drawer_background: #572EE5;
  --body_border: #572EE5;
  --fancy_border: #572EE5;
  --btn_hover: white;
  --mainGreen: #50E3C2;
  --bg-max-view: rgba(255,255,255,0.90);
  --max-view-buttons: rgba(87,46,229,0.70);
  --deselect-icons-color: rgba(87,46,229,0.70); }

html[data-theme='dark'] {
  --background: #37383C;
  --trending_background: #222326;
  --main_text_color: #FFF;
  --small_text_color: #FFF;
  --drawer_background: #000;
  --body_border: #000;
  --fancy_border: #FFF;
  --btn_hover: black;
  --bg-max-view: rgba(55,56,60,0.90);
  --max-view-buttons: rgba(255,255,255,0.70); }

@media screen and (min-width: 1024px) {
  body header {
    justify-content: space-between;
    padding: 0; }
    body header .closebtn {
      display: none; }
    body header .menubtn {
      display: none; }
    body header nav {
      display: flex;
      width: 45%;
      max-width: 30rem;
      flex-flow: row wrap; }
      body header nav ul {
        display: flex;
        flex-flow: row wrap;
        align-self: flex-end; }
        body header nav ul li {
          display: flex;
          margin: 1rem;
          text-transform: uppercase;
          align-self: center; }
          body header nav ul li:hover:not(:last-child) {
            border-bottom: 1px solid var(--mainGreen); }
          body header nav ul li:active:not(:last-child) {
            border: none;
            color: #FF9CAFC3; }
          body header nav ul li a {
            font-size: 13px;
            color: var(--main_text_color);
            font-weight: bold;
            line-height: initial;
            letter-spacing: 0;
            text-align: center; }
          body header nav ul li .btnCrear {
            display: inline-block;
            cursor: pointer;
            width: 54px;
            height: 54px;
            border-radius: 50px;
            background: none;
            border: 1px solid var(--main_text_color);
            background-color: transparent; }
            body header nav ul li .btnCrear .fa-plus {
              color: var(--main_text_color);
              font-size: 1rem; }
  body main .intro h1 {
    font-size: 2.2rem;
    max-width: 600px; }
  body main .intro img {
    width: 40%;
    margin-top: 1rem;
    max-width: 550px; }
  body main .intro .searchbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    max-width: 550px; }
    body main .intro .searchbar #contenedorBusquedas {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%; }
      body main .intro .searchbar #contenedorBusquedas .search {
        width: 80%;
        text-align: left; }
    body main .intro .searchbar #sugestionCtn {
      display: flex;
      flex-flow: column wrap;
      width: 100%; }
      body main .intro .searchbar #sugestionCtn #divDeSugerencias {
        display: flex;
        flex-flow: row wrap; }
        body main .intro .searchbar #sugestionCtn #divDeSugerencias img {
          margin-left: 0.8rem; }
      body main .intro .searchbar #sugestionCtn p {
        display: flex;
        text-align: left;
        justify-content: start;
        margin: .5rem;
        color: #9CAFC3; }
  body main .trends h3 {
    margin-top: 4.5rem;
    font-size: 24px;
    margin-bottom: .5rem; }
  body main .trends p {
    font-size: 20px;
    width: 80%;
    margin-bottom: 6rem;
    justify-content: center; }
    body main .trends p br {
      display: none; }
  body main .searchTitleResult {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
    body main .searchTitleResult #ctnOfGif {
      display: flex;
      flex-flow: row wrap;
      width: 90%; }
      body main .searchTitleResult #ctnOfGif .gifArticle {
        position: relative;
        width: 25%;
        display: flex;
        justify-content: center; }
        body main .searchTitleResult #ctnOfGif .gifArticle:hover .filter, body main .searchTitleResult #ctnOfGif .gifArticle:hover .gifBtns, body main .searchTitleResult #ctnOfGif .gifArticle:hover .gifInfo {
          display: initial;
          position: absolute; }
        body main .searchTitleResult #ctnOfGif .gifArticle .gifInfo .gifTitle {
          color: #FFFFFF;
          font-size: 1rem; }
        body main .searchTitleResult #ctnOfGif .gifArticle .gifInfo .gifUser {
          color: #FFFFFF;
          font-size: .8rem; }
        body main .searchTitleResult #ctnOfGif .gifArticle .gifBtns {
          display: none;
          right: 1rem;
          top: 1rem;
          z-index: 1000; }
          body main .searchTitleResult #ctnOfGif .gifArticle .gifBtns button {
            cursor: pointer;
            border: 1px solid #CED7E1;
            border-radius: 6px;
            background: #FFFFFF;
            opacity: 0.7;
            height: 32px;
            width: 32px; }
            body main .searchTitleResult #ctnOfGif .gifArticle .gifBtns button .fa-heart, body main .searchTitleResult #ctnOfGif .gifArticle .gifBtns button .fa-download, body main .searchTitleResult #ctnOfGif .gifArticle .gifBtns button .fa-expand-alt, body main .searchTitleResult #ctnOfGif .gifArticle .gifBtns button .fa-trash-alt {
              color: var(--deselect-icons-color);
              font-size: 1.3rem; }
        body main .searchTitleResult #ctnOfGif .gifArticle .filter {
          background-color: #572EE5;
          opacity: 0.7;
          display: none;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0; }
        body main .searchTitleResult #ctnOfGif .gifArticle .gifLoadedCtn .gifLoaded {
          width: 100%;
          height: 20rem; }
  body main .trending h2 {
    font-size: 34px; }
  body main .trending p {
    width: 100%; }
  body main .trending .carouselWraper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    body main .trending .carouselWraper .buttonSlider {
      margin: 1rem;
      display: initial;
      height: 40px;
      width: 40px;
      border: 1px solid var(--fancy_border);
      background: var(--bg-carousel); }
      body main .trending .carouselWraper .buttonSlider .fa-chevron-left, body main .trending .carouselWraper .buttonSlider .fa-chevron-right {
        color: var(--small_text_color);
        font-size: 1.25rem; }
        body main .trending .carouselWraper .buttonSlider .fa-chevron-left:hover, body main .trending .carouselWraper .buttonSlider .fa-chevron-right:hover {
          color: var(--icon-hover-color); }
      body main .trending .carouselWraper .buttonSlider:hover {
        background-color: var(--small_text_color); }
    body main .trending .carouselWraper .carousel-ctn {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      justify-content: start;
      overflow: hidden;
      max-width: 1000px; }
      body main .trending .carouselWraper .carousel-ctn .carousel {
        position: relative;
        align-items: center;
        justify-content: space-between;
        display: flex;
        margin: 2rem auto; }
        body main .trending .carouselWraper .carousel-ctn .carousel .gifArticle {
          position: relative;
          width: 25%; }
          body main .trending .carouselWraper .carousel-ctn .carousel .gifArticle:hover .filter, body main .trending .carouselWraper .carousel-ctn .carousel .gifArticle:hover .gifBtns, body main .trending .carouselWraper .carousel-ctn .carousel .gifArticle:hover .gifInfo {
            display: initial;
            position: absolute; }
  body main .recordGif {
    width: 100%;
    height: 83vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly; }
    body main .recordGif .articleRecord {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      height: 70%; }
      body main .recordGif .articleRecord .imgCamera {
        display: flex;
        align-content: center;
        position: absolute;
        left: 10%;
        top: 33%;
        /* .camara{
        
        } */ }
        body main .recordGif .articleRecord .imgCamera .luzCamara {
          animation: blinking .2s infinite; }
      body main .recordGif .articleRecord .videoSquare {
        width: 48vw;
        height: 35vh;
        border: 1px solid var(--fancy_border);
        overflow: hidden;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; }
        body main .recordGif .articleRecord .videoSquare #gif-capture {
          width: 75%;
          height: 75%;
          position: absolute; }
        body main .recordGif .articleRecord .videoSquare .corner-right, body main .recordGif .articleRecord .videoSquare .corner-left {
          height: 25px;
          width: 27px;
          display: inline-block;
          position: absolute; }
        body main .recordGif .articleRecord .videoSquare .corner-right {
          border-right: 1px solid var(--mainGreen);
          right: 1.5rem; }
        body main .recordGif .articleRecord .videoSquare .corner-left {
          border-left: 1px solid var(--mainGreen);
          left: 1.5rem; }
        body main .recordGif .articleRecord .videoSquare .corner-top {
          border-top: 1px solid var(--mainGreen);
          top: 1.5rem; }
        body main .recordGif .articleRecord .videoSquare .corner-bottom {
          border-bottom: 1px solid var(--mainGreen);
          bottom: 1.5rem; }
        body main .recordGif .articleRecord .videoSquare h4 {
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
          font-size: 25px;
          color: var(--main_text_color);
          text-align: center;
          line-height: 35px; }
        body main .recordGif .articleRecord .videoSquare p {
          font-family: 'Roboto', sans-serif;
          font-size: 1rem;
          color: var(--small_text_color);
          text-align: center;
          line-height: 29px; }
      body main .recordGif .articleRecord .anotherDiv {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative; }
        body main .recordGif .articleRecord .anotherDiv .numbersDiv {
          display: flex;
          justify-content: center; }
          body main .recordGif .articleRecord .anotherDiv .numbersDiv .number {
            margin: .75rem;
            text-align: center;
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            border-radius: 50%;
            background: none;
            border: 1px solid var(--fancy_border);
            background-color: transparent;
            color: var(--small_text_color); }
          body main .recordGif .articleRecord .anotherDiv .numbersDiv .isCurrent {
            background-color: var(--main_text_color);
            color: var(--trending_background); }
        body main .recordGif .articleRecord .anotherDiv .counter {
          position: absolute;
          right: 0;
          color: var(--main_text_color);
          letter-spacing: 0;
          text-align: center;
          font-family: "Montserrat", "sans-serif";
          font-weight: 700; }
        body main .recordGif .articleRecord .anotherDiv .special-hover:hover {
          border-bottom: 3px solid #50E3C2; }
        body main .recordGif .articleRecord .anotherDiv .filmIcon {
          position: absolute;
          right: -30%; }
      body main .recordGif .articleRecord #start-btn {
        cursor: pointer;
        outline: none;
        border: 1px solid var(--fancy_border);
        border-radius: 25px;
        background: none;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        color: var(--main_text_color);
        font-size: 13px;
        font-weight: bold;
        height: 3rem;
        width: 7.9rem;
        align-self: center; }
        body main .recordGif .articleRecord #start-btn:hover {
          color: var(--btn_hover);
          background-color: var(--main_text_color); }
  body main .create-overlay {
    background-color: rgba(87, 46, 229, 0.7);
    width: 75%;
    height: 75%;
    top: 50%;
    left: 50%;
    z-index: 500;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
  body main .girar {
    animation: spin 1s infinite linear; }
  body main .btnUploaded {
    position: relative;
    display: flex;
    bottom: 8rem;
    align-self: flex-end; }
    body main .btnUploaded button {
      cursor: pointer;
      border: 1px solid #CED7E1;
      border-radius: 6px;
      background: #FFFFFF;
      opacity: 0.9;
      height: 32px;
      width: 32px;
      margin: 0 .5rem; }
      body main .btnUploaded button .fa-download, body main .btnUploaded button .fa-link {
        color: var(--deselect-icons-color);
        font-size: 1.3rem; }
  body main .gifArticle {
    position: relative;
    width: 25%; }
    body main .gifArticle:hover .filter, body main .gifArticle:hover .gifBtns, body main .gifArticle:hover .gifInfo {
      display: initial;
      position: absolute; }
    body main .gifArticle .gifInfo .gifTitle {
      color: #FFFFFF;
      font-size: 1rem; }
    body main .gifArticle .gifInfo .gifUser {
      color: #FFFFFF;
      font-size: .8rem; }
    body main .gifArticle .gifBtns {
      display: none;
      right: 1rem;
      top: 1rem;
      z-index: 1000; }
      body main .gifArticle .gifBtns button {
        cursor: pointer;
        border: 1px solid #CED7E1;
        border-radius: 6px;
        background: #FFFFFF;
        opacity: 0.7;
        height: 32px;
        width: 32px; }
        body main .gifArticle .gifBtns button .fa-heart, body main .gifArticle .gifBtns button .fa-download, body main .gifArticle .gifBtns button .fa-expand-alt {
          color: var(--deselect-icons-color);
          font-size: 1.3rem; }
    body main .gifArticle .filter {
      background-color: #572EE5;
      opacity: 0.7;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    body main .gifArticle .gifLoadedCtn {
      width: 100%; }
      body main .gifArticle .gifLoadedCtn .gifLoaded {
        width: 100%;
        height: 20rem;
        margin: 0; }
  body main .misGifos #ctnOfMyGifos, body main .misGifos #favsCtn, body main .favs #ctnOfMyGifos, body main .favs #favsCtn {
    display: flex;
    flex-flow: row wrap;
    width: 80%; }
    body main .misGifos #ctnOfMyGifos .gifArticle, body main .misGifos #favsCtn .gifArticle, body main .favs #ctnOfMyGifos .gifArticle, body main .favs #favsCtn .gifArticle {
      position: relative;
      width: 25%;
      display: flex;
      justify-content: center; }
      body main .misGifos #ctnOfMyGifos .gifArticle:hover .filter, body main .misGifos #ctnOfMyGifos .gifArticle:hover .gifBtns, body main .misGifos #ctnOfMyGifos .gifArticle:hover .gifInfo, body main .misGifos #favsCtn .gifArticle:hover .filter, body main .misGifos #favsCtn .gifArticle:hover .gifBtns, body main .misGifos #favsCtn .gifArticle:hover .gifInfo, body main .favs #ctnOfMyGifos .gifArticle:hover .filter, body main .favs #ctnOfMyGifos .gifArticle:hover .gifBtns, body main .favs #ctnOfMyGifos .gifArticle:hover .gifInfo, body main .favs #favsCtn .gifArticle:hover .filter, body main .favs #favsCtn .gifArticle:hover .gifBtns, body main .favs #favsCtn .gifArticle:hover .gifInfo {
        display: initial;
        position: absolute; }
      body main .misGifos #ctnOfMyGifos .gifArticle .gifInfo .gifTitle, body main .misGifos #favsCtn .gifArticle .gifInfo .gifTitle, body main .favs #ctnOfMyGifos .gifArticle .gifInfo .gifTitle, body main .favs #favsCtn .gifArticle .gifInfo .gifTitle {
        color: #FFFFFF;
        font-size: 1rem; }
      body main .misGifos #ctnOfMyGifos .gifArticle .gifInfo .gifUser, body main .misGifos #favsCtn .gifArticle .gifInfo .gifUser, body main .favs #ctnOfMyGifos .gifArticle .gifInfo .gifUser, body main .favs #favsCtn .gifArticle .gifInfo .gifUser {
        color: #FFFFFF;
        font-size: .8rem; }
      body main .misGifos #ctnOfMyGifos .gifArticle .gifBtns, body main .misGifos #favsCtn .gifArticle .gifBtns, body main .favs #ctnOfMyGifos .gifArticle .gifBtns, body main .favs #favsCtn .gifArticle .gifBtns {
        display: none;
        right: 1rem;
        top: 1rem;
        z-index: 1000; }
        body main .misGifos #ctnOfMyGifos .gifArticle .gifBtns button, body main .misGifos #favsCtn .gifArticle .gifBtns button, body main .favs #ctnOfMyGifos .gifArticle .gifBtns button, body main .favs #favsCtn .gifArticle .gifBtns button {
          cursor: pointer;
          border: 1px solid #CED7E1;
          border-radius: 6px;
          background: #FFFFFF;
          opacity: 0.7;
          height: 32px;
          width: 32px; }
          body main .misGifos #ctnOfMyGifos .gifArticle .gifBtns button .fa-heart, body main .misGifos #ctnOfMyGifos .gifArticle .gifBtns button .fa-download, body main .misGifos #ctnOfMyGifos .gifArticle .gifBtns button .fa-expand-alt, body main .misGifos #ctnOfMyGifos .gifArticle .gifBtns button .fa-trash-alt, body main .misGifos #favsCtn .gifArticle .gifBtns button .fa-heart, body main .misGifos #favsCtn .gifArticle .gifBtns button .fa-download, body main .misGifos #favsCtn .gifArticle .gifBtns button .fa-expand-alt, body main .misGifos #favsCtn .gifArticle .gifBtns button .fa-trash-alt, body main .favs #ctnOfMyGifos .gifArticle .gifBtns button .fa-heart, body main .favs #ctnOfMyGifos .gifArticle .gifBtns button .fa-download, body main .favs #ctnOfMyGifos .gifArticle .gifBtns button .fa-expand-alt, body main .favs #ctnOfMyGifos .gifArticle .gifBtns button .fa-trash-alt, body main .favs #favsCtn .gifArticle .gifBtns button .fa-heart, body main .favs #favsCtn .gifArticle .gifBtns button .fa-download, body main .favs #favsCtn .gifArticle .gifBtns button .fa-expand-alt, body main .favs #favsCtn .gifArticle .gifBtns button .fa-trash-alt {
            color: var(--deselect-icons-color);
            font-size: 1.3rem; }
      body main .misGifos #ctnOfMyGifos .gifArticle .filter, body main .misGifos #favsCtn .gifArticle .filter, body main .favs #ctnOfMyGifos .gifArticle .filter, body main .favs #favsCtn .gifArticle .filter {
        background-color: #572EE5;
        opacity: 0.7;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
      body main .misGifos #ctnOfMyGifos .gifArticle .gifLoadedCtn .gifLoaded, body main .misGifos #favsCtn .gifArticle .gifLoadedCtn .gifLoaded, body main .favs #ctnOfMyGifos .gifArticle .gifLoadedCtn .gifLoaded, body main .favs #favsCtn .gifArticle .gifLoadedCtn .gifLoaded {
        width: 100%;
        height: 20rem; }
  body main .hidden {
    display: none; }
  body footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem 3rem 5rem;
    justify-content: space-between; }
    body footer p {
      margin: 0 3rem 0 0; }
    body footer div {
      display: flex;
      flex-flow: row wrap;
      width: 50%; }
      body footer div h3 {
        margin: 0 0 0 5rem; }
      body footer div .share {
        margin: 0 0 0 0;
        justify-content: space-evenly;
        width: 30%; } }
@media (max-width: 1024px) {
  .carouselWraper {
    max-width: 980px; } }

/*# sourceMappingURL=style-desktop.css.map */
