html {
  --primary-color: #572EE5;
  --secondary-color: #50E3C2;
  --tertiary-color: #9CAFC3;
  --bg-menu: rgba(87,46,229,0.90);
  --bg-carousel: #F3F5F8;
  --bg: #FFFFFF;
  --bg-border: #572EE5;
  --text-color: #000000;
  --icon-hover-color: #FFFFFF; }

@media screen and (min-width: 1024px) {
  header {
    justify-content: space-between;
    padding: 0; }
    header .closebtn {
      display: none; }
    header .menubtn {
      display: none; }
    header nav {
      display: flex;
      width: 45%;
      max-width: 30rem;
      flex-flow: row wrap; }
      header nav ul {
        display: flex;
        flex-flow: row wrap;
        align-self: flex-end; }
        header nav ul li {
          display: flex;
          margin: 1rem;
          align-self: center; }
          header nav ul li:hover:not(:last-child) {
            border-bottom: 1px solid #50E3C2; }
          header nav ul li:active:not(:last-child) {
            border: none;
            color: #FF9CAFC3; }
          header nav ul li a {
            font-size: 13px;
            color: #572EE5;
            font-weight: bold;
            line-height: auto;
            letter-spacing: 0;
            text-align: center; }
          header nav ul li .btnCrear {
            display: inline-block;
            cursor: pointer;
            width: 54px;
            height: 54px;
            border-radius: 50px;
            background: none;
            border: 1px solid #572EE5;
            background-color: white; }
            header nav ul li .btnCrear .fa-plus {
              color: #572EE5;
              font-size: 1rem; }

  main .intro h1 {
    font-size: 2.2rem;
    max-width: 600px; }
  main .intro img {
    width: 40%;
    margin-top: 1rem;
    max-width: 550px; }
  main .intro .searchbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    max-width: 550px; }
    main .intro .searchbar #contenedorBusquedas {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%; }
      main .intro .searchbar #contenedorBusquedas .search {
        width: 80%;
        text-align: left; }
      main .intro .searchbar #contenedorBusquedas img {
        margin-top: 0;
        justify-content: flex-end; }
    main .intro .searchbar #sugestionCtn {
      display: flex;
      flex-flow: column wrap;
      width: 100%; }
      main .intro .searchbar #sugestionCtn #divDeSugerencias {
        display: flex;
        flex-flow: row wrap; }
        main .intro .searchbar #sugestionCtn #divDeSugerencias img {
          margin-left: 0.8rem; }
      main .intro .searchbar #sugestionCtn p {
        display: flex;
        text-align: left;
        justify-content: start;
        margin: .5rem; }
  main .trends h3 {
    margin-top: 4.5rem;
    font-size: 24px;
    margin-bottom: .5rem; }
  main .trends p {
    font-size: 20px;
    width: 80%;
    margin-bottom: 6rem;
    justify-content: center; }
    main .trends p br {
      display: none; }
  main .trending h2 {
    font-size: 34px; }
  main .trending p {
    width: 100%; }
  main .trending .carrouselWraper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 2.5rem; }
    main .trending .carrouselWraper .buttonSlider {
      display: initial;
      height: 40px;
      width: 40px;
      border: 1px solid var(--primary-color);
      background: var(--bg-carousel);
      transform: translate(0, 100px); }
      main .trending .carrouselWraper .buttonSlider .fa-chevron-left, main .trending .carrouselWraper .buttonSlider .fa-chevron-right {
        color: var(--primary-color);
        font-size: 1.25rem; }
        main .trending .carrouselWraper .buttonSlider .fa-chevron-left:hover, main .trending .carrouselWraper .buttonSlider .fa-chevron-right:hover {
          color: var(--icon-hover-color); }
      main .trending .carrouselWraper .buttonSlider:hover {
        background-color: var(--primary-color); }
    main .trending .carrouselWraper .carousel {
      width: 90%; }
      main .trending .carrouselWraper .carousel img {
        width: 100%; } }

/*# sourceMappingURL=style-desktop.css.map */
